<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <title>Products</title>
    <link rel="stylesheet" th:href="@{/stylesheet.css}">
</head>
<body>
<h1>Product List</h1>
<table>
    <thead>
    <tr>
        <th>ID</th>
        <th>Name</th>
        <th>Price</th>
        <th>Description</th>
        <th>Details</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="p : ${products}">
        <td th:text="${p.id}"></td>
        <td th:text="${p.name}"></td>
        <td th:text="${p.price}"></td>
        <td th:text="${p.description}"></td>
        <td>
            <a th:href="@{/products/show/{id}(id=${p.id})}">Show</a>
        </td>
    </tr>
    </tbody>
</table>
<br>
<a th:href="@{/newproduct}">Add New Product</a>
</body>
</html>