<!DOCTYPE html>
<html lang="en">
    <head>
        <meta charset="UTF-8">
        <title>Clock collection</title>
        <link rel="stylesheet" th:href="@{/stylesheet.css}">
    </head>
    <body>
        <nav>
            <ul>
                <li><a class="active" th:href="@{/clocks}">Homepage</a></li>
                <li><a th:href="@{/clocks/list}">Clock List</a></li>
                <li><a th:href="@{/clocks/add}">Add Clock</a></li>
            </ul>
        </nav>


        <h1><span th:text="${name}"></span> clock collection</h1>
    </body>
</html>